@page
@model BeSpokedBikes.Pages.SaleItems.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>SaleItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SaleItem.Id" />
            <div class="form-group">
                <label asp-for="SaleItem.Sale_Id" class="control-label"></label>
                <select asp-for="SaleItem.Sale_Id" class="form-control" asp-items="ViewBag.Sale_Id"></select>
                <span asp-validation-for="SaleItem.Sale_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleItem.ProductStyle_Id" class="control-label"></label>
                <select asp-for="SaleItem.ProductStyle_Id" class="form-control" asp-items="ViewBag.ProductStyle_Id"></select>
                <span asp-validation-for="SaleItem.ProductStyle_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleItem.Quantity" class="control-label"></label>
                <input asp-for="SaleItem.Quantity" class="form-control" />
                <span asp-validation-for="SaleItem.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaleItem.PreDiscountPricePer" class="control-label"></label>
                <input asp-for="SaleItem.PreDiscountPricePer" class="form-control" />
                <span asp-validation-for="SaleItem.PreDiscountPricePer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row">
                    <div class="col">
                        Discount
                    </div>
                    <div class="col">
                        Percent
                    </div>
                    <div class="col">
                        Amount
                    </div>
                    <div class="col">
                        Actions
                    </div>
                </div>
            </div>
            @foreach (var discount in Model.SaleItem.AppliedDiscounts)
            {
                <div class="list-group-item">
                    <div class="row">
                        <div class="col">
                            @(discount.Discount.Name)
                        </div>
                        <div class="col">
                            @(discount.Discount.PercentageDiscounted)
                        </div>
                        <div class="col">
                            @(discount.AmountDiscounted)
                        </div>
                        <div class="col">
                            <a asp-page="../AppliedDiscounts/Edit" asp-route-id="@discount.Id">Edit</a> |
                            <a asp-page="../AppliedDiscounts/Delete" asp-route-id="@discount.Id">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
