@page
@model BeSpokedBikes.Pages.AppliedDiscounts.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SaleItemDiscount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleItemDiscount.AmountDiscounted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleItemDiscount.AmountDiscounted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleItemDiscount.SaleItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleItemDiscount.SaleItem.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleItemDiscount.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleItemDiscount.Discount.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SaleItemDiscount.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
