@page
@model BeSpokedBikes.Pages.AppliedDiscounts.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SaleItemDiscount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleItemDiscount.AmountDiscounted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleItemDiscount.AmountDiscounted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleItemDiscount.SaleItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleItemDiscount.SaleItem.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SaleItemDiscount.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SaleItemDiscount.Discount.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SaleItemDiscount.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
